//マップ型変数breakpointsを定義
$breakpoints: (
//キー 値
// 'xxs': 'screen and (max-width: 328px)',
'xs': 'screen and (max-width: 599px)',
'sm': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
'md': 'screen and (min-width: 768px)', //768px以上（タブレット・PC）用の表示
'lg': 'screen and (min-width: 1024px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

html{
  font-size: 16px;
}

a{
  text-decoration: none;
  color: #000;
}

/*===================================
 * 共通
===================================*/
#lt-wrapper{
  width: 100%;
  overflow: hidden;
}

.lt-wrap{
  margin: 160px auto 0;
}

.lt-container{

}

.lt-inner{
  max-width: 1010px;
  margin: auto;
}

section{
  padding-bottom: 120px;
  margin-bottom: 120px;
}

/*===================================
 * color
===================================*/

$color-white: #fff;
$color-blue: #0269B8;
$color-na: #002352;
$color-green: #00A603;
$color-lightBlue: #009BD9;
$color-yellow: #FFCC00;
/*===================================
 * text
===================================*/
.lt-mainText{
  font-size: 22px;
  line-height: calc(44px / 22px);
  text-align: center;
  font-weight: 500;

  margin: 50px 0;

  &__white{
    color: $color-white;
    font-size: 22px;
    line-height: calc(44px / 22px);
    text-align: center;
    font-weight: 500;

    margin: 50px 0;
  }
}
/*===================================
 * title
===================================*/

.lt-titleArea{
  text-align: center;
}

.lt-mainTitle{
  & img {
    max-width: 600px;
  }
}

.lt-subTitle{
  & span {
    padding: 15px 30px;
    border-radius: 32.247px;
    background-color: $color-blue;
    font-weight: 700;
    color: $color-white;
    font-size: 38px;
  }

  &.yellow {
    & span {
      background-color: $color-yellow;
    }
  }
}

.lt-subTitle_white{
  & span {
    padding: 15px 30px;
    border-radius: 32.247px;
    background-color: $color-white;
    font-weight: 700;
    color: $color-na;
    font-size: 38px;
  }
}
