//マップ型変数breakpointsを定義
$breakpoints: (
//キー 値
// 'xxs': 'screen and (max-width: 328px)',
'xs': 'screen and (max-width: 599px)',
'sm': 'screen and (max-width: 960px)', //767px以下（スマホ）用の表示
'md': 'screen and (min-width: 768px)', //768px以上（タブレット・PC）用の表示
'lg': 'screen and (min-width: 1024px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

html{
  font-size: 16px;
}

a{
  text-decoration: none;
  color: #000;
}

/*===================================
 * 共通
===================================*/
#lt-wrapper{
  width: 100%;
  overflow: hidden;
}

.lt-wrap{
  margin: 160px auto 0;
}

.lt-container{

}

.lt-inner{
  max-width: 1010px;
  margin: auto;

  @include mq(sm){
    max-width: 680px;
  }
}

section{
  padding-top: 120px;
  padding-bottom: 120px;
  @include mq(sm){
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.is-pc{
  display: block;
  @include mq(sm){
    display: none;
  }
}

.is-sp{
  display: none;
  @include mq(sm){
    display: block;
  }
}

/*===================================
 * color
===================================*/

$color-white: #fff;
$color-blue: #0269B8;
$color-na: #002352;
$color-green: #00A603;
$color-lightBlue: #009BD9;
$color-yellow: #FFCC00;
/*===================================
 * text
===================================*/
.lt-mainText{
  font-size: 22px;
  line-height: calc(44px / 22px);
  text-align: center;
  font-weight: 700;

  margin: 50px 0;
  @include mq(sm){
    font-size: 18px;
    line-height: 1.5;
  }
  &__white{
    color: $color-white;
    font-size: 22px;
    line-height: calc(44px / 22px);
    text-align: center;
    font-weight: 700;

    margin: 50px 0;
    @include mq(sm){
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 200px;
    }
  }
}
/*===================================
 * title
===================================*/

.lt-titleArea{
  text-align: center;
}

.lt-mainTitle{
  & img {
    max-width: 600px;
    @include mq(sm){
      max-width: 300px;
    }
  }
}

.lt-subTitle{
  @include mq(sm){

  }
  & span {
    padding: 15px 30px;
    border-radius: 32.247px;
    background-color: $color-blue;
    font-weight: 700;
    color: $color-white;
    font-size: 38px;
    @include mq(sm){
      font-size: 22px;
      padding: 10px 20px;
    }
  }

  &.yellow {
    & span {
      background-color: $color-yellow;
    }
  }
}

.lt-subTitle_white{
  & span {
    padding: 15px 30px;
    border-radius: 32.247px;
    background-color: $color-white;
    font-weight: 700;
    color: $color-na;
    font-size: 38px;
    @include mq(sm){
      font-size: 20px;
      padding: 10px 20px;
    }
  }
}

/*===================================
 * slider
===================================*/

.swiper-container {
  overflow: visible;
  position: relative;
  // overflow: hidden;
  // margin: 0 calc(50% - 50vw); //inner要素か抜ける
  // width: 100vw;

}

.swiper-wrapper{
  align-items: center;
  transition-timing-function: linear;
}

.swiper-slide {
  width: 100%;
  flex-shrink: 1;
  opacity: 0.4;
  // overflow: hidden;
  transition: .7s;
  transition: transform 0.6s;
  @include mq(sm){
    width: 100%;
  }

  & img{
    display: inline; //念のため
    width: auto; //念のため
    max-width: 100%;
    max-height: 100%;
    align-self: center; //上下の中央揃え
  }
}

.mv_slideHeght {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 560px;
  width: 850px;

  @include mq(sm){
    height: 300px;
    max-width: 350px;
  }

    & img {
      width: 100%;
      height: -webkit-fill-available;
      object-fit: cover;
    }
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.05);
}


.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
  background-image: url('../images/common/icon_redArow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;

  @include mq(sm){
    width: 40px;
    height: 40px;
  }
}

.swiper-button-prev:after {
  transform: rotate(180deg);
}

.swiper-button-prev{
  left: 18%;
  @include mq(sm){
    left: 5%;
  }
}

.swiper-button-next{
  right: 18%;
  @include mq(sm){
    right: 5%;
  }
}

.slide-nav__btn{
  top: 45% !important;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.swiper-slide img {
  // width: 100%;
  border-radius: 10px;
}



.swiper-pagination-bullet {
  border-radius: inherit;
  margin: 0 5px!important;
  width: 54px;
  height: 5px;
  background: skyblue;
  opacity: 0.19;
}

.swiper-pagination-bullet-active {
  background: skyblue;
  opacity: 1;
}

.active-slide {
  // margin-bottom: 100px !important;
}

/*===================================
 * envet-swiper pagination
===================================*/
.swiper-pagination{
  position: relative;
}
.eventSwiper-button-prev:after,
.eventSwiper-button-next:after {
  content: '';
  background-image: url('../images/common/icon_redArow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;

  @include mq(sm){
    width: 40px;
    height: 40px;
  }
}

.eventSwiper-button-prev:after {
  transform: rotate(180deg);
}

.eventSwiper-button-prev{
  left: 18%;
  @include mq(sm){
    left: 5%;
  }
}

.eventSwiper-button-next{
  right: 18%;
  @include mq(sm){
    right: 5%;
  }
}

.EventSlide-nav__btn{
  bottom: 0 !important;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.event-swiper__pagination{
  position: absolute;
  bottom: -10% !important;
  // transform: translateY(-50%) !important;
}
