@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

/*===================================
 * 共通
===================================*/
#lt-wrapper {
  width: 100%;
  overflow: hidden;
}

.lt-wrap {
  margin: 160px auto 0;
}

.lt-inner {
  max-width: 1010px;
  margin: auto;
}
@media screen and (max-width: 960px) {
  .lt-inner {
    max-width: 680px;
  }
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 960px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.is-pc {
  display: block;
}
@media screen and (max-width: 960px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: none;
}
@media screen and (max-width: 960px) {
  .is-sp {
    display: block;
  }
}

/*===================================
 * color
===================================*/
/*===================================
 * text
===================================*/
.lt-mainText {
  font-size: 22px;
  line-height: 2;
  text-align: center;
  font-weight: 700;
  margin: 50px 0;
}
@media screen and (max-width: 960px) {
  .lt-mainText {
    font-size: 18px;
    line-height: 1.5;
  }
}
.lt-mainText__white {
  color: #fff;
  font-size: 22px;
  line-height: 2;
  text-align: center;
  font-weight: 700;
  margin: 50px 0;
}
@media screen and (max-width: 960px) {
  .lt-mainText__white {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 200px;
  }
}

/*===================================
 * title
===================================*/
.lt-titleArea {
  text-align: center;
}

.lt-mainTitle img {
  max-width: 600px;
}
@media screen and (max-width: 960px) {
  .lt-mainTitle img {
    max-width: 300px;
  }
}

.lt-subTitle span {
  padding: 15px 30px;
  border-radius: 32.247px;
  background-color: #0269B8;
  font-weight: 700;
  color: #fff;
  font-size: 38px;
}
@media screen and (max-width: 960px) {
  .lt-subTitle span {
    font-size: 22px;
    padding: 10px 20px;
  }
}
.lt-subTitle.yellow span {
  background-color: #FFCC00;
}

.lt-subTitle_white span {
  padding: 15px 30px;
  border-radius: 32.247px;
  background-color: #fff;
  font-weight: 700;
  color: #002352;
  font-size: 38px;
}
@media screen and (max-width: 960px) {
  .lt-subTitle_white span {
    font-size: 20px;
    padding: 10px 20px;
  }
}

/*===================================
 * slider
===================================*/
.swiper-container {
  overflow: visible;
  position: relative;
}

.swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.swiper-slide {
  width: 100%;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  opacity: 0.4;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
@media screen and (max-width: 960px) {
  .swiper-slide {
    width: 100%;
  }
}
.swiper-slide img {
  display: inline;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  -ms-flex-item-align: center;
  align-self: center;
}

.mv_slideHeght {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 560px;
  width: 850px;
}
@media screen and (max-width: 960px) {
  .mv_slideHeght {
    height: 300px;
    max-width: 350px;
  }
}
.mv_slideHeght img {
  width: 100%;
  height: -webkit-fill-available;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-slide-active {
  opacity: 1;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-image: url("../images/common/icon_redArow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
}
@media screen and (max-width: 960px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    width: 40px;
    height: 40px;
  }
}

.swiper-button-prev:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.swiper-button-prev {
  left: 18%;
}
@media screen and (max-width: 960px) {
  .swiper-button-prev {
    left: 5%;
  }
}

.swiper-button-next {
  right: 18%;
}
@media screen and (max-width: 960px) {
  .swiper-button-next {
    right: 5%;
  }
}

.slide-nav__btn {
  top: 45% !important;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.swiper-slide img {
  border-radius: 10px;
}

.swiper-pagination-bullet {
  border-radius: inherit;
  margin: 0 5px !important;
  width: 54px;
  height: 5px;
  background: skyblue;
  opacity: 0.19;
}

.swiper-pagination-bullet-active {
  background: skyblue;
  opacity: 1;
}

/*===================================
 * envet-swiper pagination
===================================*/
.swiper-pagination {
  position: relative;
}

.eventSwiper-button-prev:after,
.eventSwiper-button-next:after {
  content: "";
  background-image: url("../images/common/icon_redArow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 960px) {
  .eventSwiper-button-prev:after,
  .eventSwiper-button-next:after {
    width: 40px;
    height: 40px;
  }
}

.eventSwiper-button-prev:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.eventSwiper-button-prev {
  left: 18%;
}
@media screen and (max-width: 960px) {
  .eventSwiper-button-prev {
    left: 5%;
  }
}

.eventSwiper-button-next {
  right: 18%;
}
@media screen and (max-width: 960px) {
  .eventSwiper-button-next {
    right: 5%;
  }
}

.EventSlide-nav__btn {
  bottom: 0 !important;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.event-swiper__pagination {
  position: absolute;
  bottom: -10% !important;
}
/*# sourceMappingURL=base.css.map */
