@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

/*===================================
 * 共通
===================================*/
#lt-wrapper {
  width: 100%;
  overflow: hidden;
}

.lt-wrap {
  margin: 160px auto 0;
}

.lt-inner {
  max-width: 1010px;
  margin: auto;
}
@media screen and (max-width: 960px) {
  .lt-inner {
    max-width: 680px;
  }
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 960px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.is-pc {
  display: block;
}
@media screen and (max-width: 960px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: none;
}
@media screen and (max-width: 960px) {
  .is-sp {
    display: block;
  }
}

/*===================================
 * color
===================================*/
/*===================================
 * text
===================================*/
.lt-mainText {
  font-size: 22px;
  line-height: 2;
  text-align: center;
  font-weight: 700;
  margin: 50px 0;
}
@media screen and (max-width: 960px) {
  .lt-mainText {
    font-size: 18px;
    line-height: 1.5;
  }
}
.lt-mainText__white {
  color: #fff;
  font-size: 22px;
  line-height: 2;
  text-align: center;
  font-weight: 700;
  margin: 50px 0;
}
@media screen and (max-width: 960px) {
  .lt-mainText__white {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 200px;
  }
}

/*===================================
 * title
===================================*/
.lt-titleArea {
  text-align: center;
}

.lt-mainTitle img {
  max-width: 600px;
}
@media screen and (max-width: 960px) {
  .lt-mainTitle img {
    max-width: 300px;
  }
}

.lt-subTitle span {
  padding: 15px 30px;
  border-radius: 32.247px;
  background-color: #0269B8;
  font-weight: 700;
  color: #fff;
  font-size: 38px;
}
@media screen and (max-width: 960px) {
  .lt-subTitle span {
    font-size: 22px;
    padding: 10px 20px;
  }
}
.lt-subTitle.yellow span {
  background-color: #FFCC00;
}

.lt-subTitle_white span {
  padding: 15px 30px;
  border-radius: 32.247px;
  background-color: #fff;
  font-weight: 700;
  color: #002352;
  font-size: 38px;
}
@media screen and (max-width: 960px) {
  .lt-subTitle_white span {
    font-size: 20px;
    padding: 10px 20px;
  }
}

/*===================================
 * topArea
===================================*/
.lt-topArea {
  background-image: url("../images/common/lt-topbg-pc.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.lt-btnArea {
  background-image: url("../images/common/lt-btnBg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 100px;
}
@media screen and (max-width: 960px) {
  .lt-btnArea {
    background-image: url("../images/common/lt-btnBg_SP.png");
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.lt-btnArea__item {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 40px;
  background-color: #FFDD00;
  -webkit-box-shadow: 0px 4px 0px 1px #001F4B;
  box-shadow: 0px 4px 0px 1px #001F4B;
}
@media screen and (max-width: 960px) {
  .lt-btnArea__item {
    width: 60vw;
    padding: 20px;
  }
}
.lt-btnArea__link {
  color: #001F4B;
  font-weight: 700;
}
/*===================================
 * slider
===================================*/
.swiper-container {
  overflow: visible;
}

.swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  -ms-flex-negative: none;
  flex-shrink: none;
}
@media screen and (max-width: 960px) {
  .swiper-slide {
    width: 100%;
  }
}

.mv_slideHeght {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.swiper-slide-active {
  position: relative;
}
.swiper-slide-active img {
  height: 450px;
}
@media screen and (max-width: 960px) {
  .swiper-slide-active img {
    height: 300px;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-image: url("../images/common/icon_redArow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
}
@media screen and (max-width: 960px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    width: 40px;
    height: 40px;
  }
}

.swiper-button-prev:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.swiper-button-prev {
  left: 30.5%;
}

.swiper-button-next {
  right: 30.5%;
}

.slide-nav__btn {
  top: 35% !important;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.swiper-slide img {
  border-radius: 10px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: red;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background: red;
}

.active-slide {
  margin-bottom: 100px !important;
}

/*===================================
 * eventArea
===================================*/
.eventSP-title {
  position: relative;
  text-align: center;
}
.eventSP-title::before, .eventSP-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 140px;
  height: 165px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 960px) {
  .eventSP-title::before, .eventSP-title::after {
    width: 60px;
    height: 80px;
  }
}
.eventSP-title::before {
  background-image: url("../images/common/eventTitle-icon01.png");
  left: -30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 960px) {
  .eventSP-title::before {
    left: -10px;
  }
}
.eventSP-title::after {
  background-image: url("../images/common/eventTitle-icon02.png");
  right: -30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 960px) {
  .eventSP-title::after {
    right: -10px;
  }
}
.eventSP-title .eventSP-title {
  display: inline-block;
  vertical-align: middle;
}

.lt-eventArea {
  background-image: url("../images/common/eventBG01.png"), url("../images/common/eventBG02.png");
  background-position: center top 10px, center bottom -300px;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .lt-eventArea {
    background-image: url("../images/common/eventBG01_SP.png"), url("../images/common/eventBG02_SP.png");
    background-size: contain, contain;
  }
}
.lt-eventArea__sliderInner {
  gap: 2%;
}
@media screen and (max-width: 960px) {
  .lt-eventArea__slideBox {
    width: 80% !important;
    margin: 0 auto;
  }
}
.lt-eventArea__slideBox:nth-child(2n) {
  margin-bottom: 100px;
}
@media screen and (max-width: 960px) {
  .lt-eventArea__slideBox:nth-child(2n) {
    margin-bottom: 0;
  }
}
.lt-eventArea__link {
  width: 390px;
  display: inline-block;
}
@media screen and (max-width: 960px) {
  .lt-eventArea__link {
    width: 100%;
  }
}
.lt-eventArea__img {
  width: auto;
  height: 217px;
  overflow: hidden;
}
.lt-eventArea__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.lt-eventArea__text {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 50px;
  font-size: 22px;
  border-top: 6px solid #002352;
  position: relative;
  background-color: #fff;
}
@media screen and (max-width: 960px) {
  .lt-eventArea__text {
    font-size: 16px;
  }
}
.lt-eventArea__title {
  margin: 0;
  font-weight: 500;
  color: #000;
}
.lt-eventArea__info {
  margin-top: 10px;
  color: #666;
}
.lt-eventArea__textBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  width: 64px;
  height: 64px;
  background-image: url("../images/common/lt-arrowBox.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lt-eventArea__btn {
  text-align: center;
  background-color: #EA3B18;
  width: 450px;
  border-radius: 20px 0 20px 0;
  padding: 28px 20px;
  -webkit-box-shadow: 0px 6px 0px 2px #8C230E;
  box-shadow: 0px 6px 0px 2px #8C230E;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .lt-eventArea__btn {
    width: 80%;
  }
}
.lt-eventArea__btn .lt-btn span {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .lt-eventArea__btn .lt-btn span {
    font-size: 16px;
  }
}

/*===================================
 * goodsArea
===================================*/
.goods-title {
  position: relative;
  text-align: center;
}
.goods-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 284px;
  height: 191px;
  background-repeat: no-repeat;
  background-size: contain;
}
.goods-title::after {
  background-image: url("../images/common/goddsTitle-icon01.png");
  right: -25%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 960px) {
  .goods-title::after {
    display: none;
  }
}
.goods-title .eventSP-title {
  display: inline-block;
  vertical-align: middle;
}

.lt-goodsArea {
  padding-top: 120px;
  background-image: url("../images/common/lt-goodsAreaBG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.lt-goodsArea__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}
@media screen and (max-width: 960px) {
  .lt-goodsArea__content {
    display: block;
  }
}
.lt-goodsArea__goodsBtn {
  width: 49%;
  position: relative;
}
@media screen and (max-width: 960px) {
  .lt-goodsArea__goodsBtn {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
}
.lt-goodsArea__goodsBtn::before {
  position: absolute;
  top: -25%;
  left: 25%;
  -webkit-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  content: "";
  width: 230px;
  height: 404px;
  background-image: url("../images/common/goddsTitle-icon02.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 960px) {
  .lt-goodsArea__goodsBtn::before {
    width: 150px;
    height: 300px;
    top: -25%;
    -webkit-transform: translate(-50%, -48%);
    transform: translate(-50%, -48%);
  }
}
@media screen and (max-width: 960px) {
  .lt-goodsArea__goodsBtn::after {
    background-image: url("../images/common/goddsTitle-icon01.png");
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
  }
}
.lt-goodsArea__ticketBtn {
  width: 49%;
}

/*===================================
 * aboutArea
===================================*/
.about-title {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
}

.lt-aboutArea {
  background-image: url("../images/common/aboutBg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: 120px;
}
.lt-aboutArea__another::before {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  content: "";
  width: 230px;
  height: 404px;
  background-image: url("../images/common/about_R-icon02.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__another::before {
    width: 150px;
    height: 300px;
  }
}
.lt-aboutArea__another::after {
  position: absolute;
  top: 0;
  right: -25%;
  -webkit-transform: translate(-25%, -35%);
  transform: translate(-25%, -35%);
  content: "";
  width: 230px;
  height: 404px;
  background-image: url("../images/common/about_R-icon01.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__another::after {
    width: 100px;
    height: 250px;
    right: -15%;
    top: 30%;
  }
}
.lt-aboutArea__another--yellow::before {
  position: absolute;
  top: 25%;
  left: -8%;
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  content: "";
  width: 230px;
  height: 404px;
  background-image: url("../images/common/about_K-icon02.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__another--yellow::before {
    width: 100px;
    height: 250px;
    top: 0;
    left: 5%;
  }
}
.lt-aboutArea__another--yellow::after {
  position: absolute;
  top: 0;
  right: -25%;
  -webkit-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  content: "";
  width: 230px;
  height: 404px;
  background-image: url("../images/common/about_K-icon01.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__another--yellow::after {
    width: 100px;
    height: 250px;
    right: -20%;
    top: 2%;
  }
}
.lt-aboutArea__another--yellow--end::before {
  position: absolute;
  bottom: 0;
  left: -8%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  content: "";
  width: 230px;
  height: 404px;
  background-image: url("../images/common/about_K-icon03.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1000;
}
.lt-aboutArea__wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: #009BD9 solid 6px;
  padding: 54px 20px;
  border-radius: 20px;
  background-image: url("../images/common/lt-aboutAreaR.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__wrap .lt-mainText {
    margin-top: 0;
  }
}
.lt-aboutArea__wrap::before {
  content: "";
  width: 630px;
  height: 10px;
  background: #FFF;
  display: inline-block;
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__wrap::before {
    width: 250px;
  }
}
.lt-aboutArea__wrap:not(:last-child) {
  margin-bottom: 180px;
}
.lt-aboutArea__wrap.yellow {
  border: #FFCC00 solid 6px;
  background-image: url("../images/common/lt-aboutAreaK.png");
}
.lt-aboutArea__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__items {
    display: block;
  }
}
.lt-aboutArea__item {
  width: 45%;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__item {
    width: 100%;
  }
  .lt-aboutArea__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.lt-aboutArea__item.yellow {
  border: #FFCC00 solid 2px;
  padding: 25px;
  width: 40%;
  border-radius: 20px;
  background-color: #fff;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__item.yellow {
    width: 80%;
  }
}
.lt-aboutArea__link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #009BD9;
  border-radius: 10px;
}
.lt-aboutArea__link.green {
  background-color: #00A603;
}
.lt-aboutArea__img {
  width: 100%;
  margin: auto;
}
.lt-aboutArea__img picture {
  display: block;
  max-width: 100%;
}
.lt-aboutArea__img picture img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}
.lt-aboutArea__text {
  font-weight: bold;
  color: #fff;
  padding: 30px;
  position: relative;
  font-size: 22px;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea__text {
    padding: 20px;
  }
}
.lt-aboutArea__text::before {
  content: "";
  position: absolute;
  bottom: 25%;
  right: 0;
  -webkit-transform: translate(-20%, 50%);
  transform: translate(-20%, 50%);
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../images/common/sankaku-yazirusi.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.lt-aboutArea__textKids {
  font-weight: bold;
  text-align: left;
  padding: 10px 0;
  font-size: 22px;
}
.lt-aboutArea__btn {
  text-align: center;
  background-color: #EA3B18;
  border-radius: 20px 0 20px 0;
  padding: 28px 20px;
  -webkit-box-shadow: 0px 6px 0px 2px #8C230E;
  box-shadow: 0px 6px 0px 2px #8C230E;
}
.lt-aboutArea__btn .lt-btn span {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .lt-aboutArea .lt-inner {
    padding: 0 15px;
  }
}

.yellow-img {
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}

/*===================================
 * infoArea
===================================*/
.lt-infoArea {
  padding-top: 120px;
  background-image: url("../images/common/lt-infoAreaBG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.lt-infoArea__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2%;
}
@media screen and (max-width: 960px) {
  .lt-infoArea__items {
    display: block;
  }
}
.lt-infoArea__item {
  width: 100%;
}
.lt-infoArea__img {
  width: 310px;
  height: 310px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0269B8;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 960px) {
  .lt-infoArea__img {
    margin: 30px auto;
  }
}
.lt-infoArea__img::before {
  content: url("../images/common/icon_redArow.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
  height: 60px;
  width: 60px;
}
.lt-infoArea__img picture {
  display: block;
  width: 100%;
  height: 100%;
}
.lt-infoArea__img picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.lt-infoArea__title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}
.lt-infoArea__title span {
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #002352;
}
/*# sourceMappingURL=style.css.map */
