@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

/*===================================
 * 共通
===================================*/
#lt-wrapper {
  width: 100%;
  overflow: hidden;
}

.lt-wrap {
  margin: 160px auto 0;
}

.lt-inner {
  max-width: 1010px;
  margin: auto;
}

section {
  padding-bottom: 120px;
  margin-bottom: 120px;
}

/*===================================
 * color
===================================*/
/*===================================
 * text
===================================*/
.lt-mainText {
  font-size: 22px;
  line-height: 2;
  text-align: center;
  font-weight: 500;
  margin: 50px 0;
}
.lt-mainText__white {
  color: #fff;
  font-size: 22px;
  line-height: 2;
  text-align: center;
  font-weight: 500;
  margin: 50px 0;
}

/*===================================
 * title
===================================*/
.lt-titleArea {
  text-align: center;
}

.lt-mainTitle img {
  max-width: 600px;
}

.lt-subTitle span {
  padding: 15px 30px;
  border-radius: 32.247px;
  background-color: #0269B8;
  font-weight: 700;
  color: #fff;
  font-size: 38px;
}
.lt-subTitle.yellow span {
  background-color: #FFCC00;
}

.lt-subTitle_white span {
  padding: 15px 30px;
  border-radius: 32.247px;
  background-color: #fff;
  font-weight: 700;
  color: #002352;
  font-size: 38px;
}

/*===================================
 * topArea
===================================*/
.lt-topArea {
  background-image: url("../images/common/lt-topbg-pc.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.lt-btnArea {
  background-image: url("../images/common/lt-btnBg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 100px;
}
.lt-btnArea__item {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 40px;
  background-color: #FFDD00;
  -webkit-box-shadow: 0px 4px 0px 1px #001F4B;
  box-shadow: 0px 4px 0px 1px #001F4B;
}
.lt-btnArea__link {
  color: #001F4B;
  font-weight: 700;
}

/*===================================
 * slider
===================================*/
.swiper-container {
  overflow: visible;
}

.swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  -ms-flex-negative: inherit;
  flex-shrink: inherit;
}

.mv_slideHeght {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.swiper-slide-active {
  position: relative;
}
.swiper-slide-active img {
  height: 450px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-image: url("../images/common/icon_redArow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
}

.swiper-button-prev:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.swiper-button-prev {
  left: 30.5%;
}

.swiper-button-next {
  right: 30.5%;
}

.slide-nav__btn {
  top: 35% !important;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.swiper-slide img {
  border-radius: 10px;
}

/*===================================
 * eventArea
===================================*/
.lt-eventArea__slider {
  position: relative;
}
.lt-eventArea__slider::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../images/common/eventBg_gray.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.lt-eventArea__sliderInner {
  gap: 7%;
}
.lt-eventArea__slideBox:nth-child(2n) {
  margin-bottom: 100px;
}
.lt-eventArea__link {
  width: 390px;
  display: inline-block;
}
.lt-eventArea__img {
  width: auto;
  height: 217px;
  overflow: hidden;
}
.lt-eventArea__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.lt-eventArea__text {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 50px;
  font-size: 22px;
  border-top: 6px solid #002352;
  position: relative;
  background-color: #fff;
}
.lt-eventArea__title {
  margin: 0;
  font-weight: 500;
  color: #000;
}
.lt-eventArea__info {
  margin-top: 10px;
  color: #666;
}
.lt-eventArea__textBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  width: 64px;
  height: 64px;
  background-image: url("../images/common/lt-arrowBox.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lt-eventArea__btn {
  text-align: center;
  background-color: #EA3B18;
  width: 450px;
  border-radius: 20px 0 20px 0;
  padding: 28px 20px;
  -webkit-box-shadow: 0px 6px 0px 2px #8C230E;
  box-shadow: 0px 6px 0px 2px #8C230E;
  margin: 0 auto;
}
.lt-eventArea__btn .lt-btn span {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

/*===================================
 * goodsArea
===================================*/
.lt-goodsArea {
  padding-top: 120px;
  background-image: url("../images/common/lt-goodsAreaBG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.lt-goodsArea__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.lt-goodsArea__goodsBtn {
  background-image: url("../images/common/eventBtn01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 513px;
  width: 49%;
  display: block;
}
.lt-goodsArea__ticketBtn {
  background-image: url("../images/common/eventBtn01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 513px;
  width: 49%;
}

/*===================================
 * aboutArea
===================================*/
.lt-aboutArea__wrap {
  border: #009BD9 solid 6px;
  padding: 54px 20px;
}
.lt-aboutArea__wrap:not(:last-child) {
  margin-bottom: 180px;
}
.lt-aboutArea__wrap.yellow {
  border: #FFCC00 solid 6px;
}
.lt-aboutArea__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.lt-aboutArea__item {
  width: 25.45833vw;
  text-align: center;
}
.lt-aboutArea__item.yellow {
  border: #FFCC00 solid 2px;
  padding: 25px;
}
.lt-aboutArea__link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #009BD9;
  border-radius: 10px;
}
.lt-aboutArea__link.green {
  background-color: #00A603;
}
.lt-aboutArea__img {
  width: 100%;
  margin: auto;
}
.lt-aboutArea__img picture {
  display: block;
  max-width: 100%;
}
.lt-aboutArea__img picture img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}
.lt-aboutArea__text {
  font-weight: bold;
  color: #fff;
  padding: 30px;
  position: relative;
  font-size: 22px;
}
.lt-aboutArea__text::before {
  content: "";
  position: absolute;
  bottom: 25%;
  right: 0;
  -webkit-transform: translate(-20%, 50%);
  transform: translate(-20%, 50%);
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../images/common/sankaku-yazirusi.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.lt-aboutArea__textKids {
  font-weight: bold;
  text-align: left;
  padding: 10px 0;
  font-size: 22px;
}
.lt-aboutArea__btn {
  text-align: center;
  background-color: #EA3B18;
  border-radius: 20px 0 20px 0;
  padding: 28px 20px;
  -webkit-box-shadow: 0px 6px 0px 2px #8C230E;
  box-shadow: 0px 6px 0px 2px #8C230E;
}
.lt-aboutArea__btn .lt-btn span {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

/*===================================
 * infoArea
===================================*/
.lt-infoArea {
  padding-top: 120px;
  background-image: url("../images/common/lt-infoAreaBG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.lt-infoArea__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.13889vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.lt-infoArea__img {
  width: 18vw;
  height: 18vw;
  padding: 0.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0269B8;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
}
.lt-infoArea__img::before {
  content: url("../images/common/icon_redArow.svg");
  position: absolute;
  bottom: 0;
  right: 25%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  height: 60px;
  width: 60px;
}
.lt-infoArea__img picture {
  display: block;
  width: 100%;
  height: 100%;
}
.lt-infoArea__img picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.lt-infoArea__title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}
.lt-infoArea__title span {
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #002352;
}
/*# sourceMappingURL=style.css.map */
