@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

/*===================================
 * 共通
===================================*/
#lt-wrapper {
  width: 100%;
  overflow: hidden;
}

.lt-wrap {
  margin: 160px auto 0;
}

.lt-inner {
  max-width: 1010px;
  margin: auto;
}

section {
  padding-bottom: 120px;
  margin-bottom: 120px;
}

/*===================================
 * color
===================================*/
/*===================================
 * text
===================================*/
.lt-mainText {
  font-size: 22px;
  line-height: 2;
  text-align: center;
  font-weight: 500;
  margin: 50px 0;
}

/*===================================
 * title
===================================*/
.lt-titleArea {
  text-align: center;
}

.lt-mainTitle img {
  max-width: 600px;
}

.lt-subTitle span {
  padding: 15px 30px;
  border-radius: 32.247px;
  background-color: #0269B8;
  font-weight: 700;
  color: #fff;
  font-size: 38px;
}

/*===================================
 * topArea
===================================*/
.lt-topArea {
  background-image: url("../images/common/lt-topbg-pc.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.lt-btnArea {
  background-image: url("../images/common/lt-btnBg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 100px;
}
.lt-btnArea__item {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 40px;
  background-color: #FFDD00;
  -webkit-box-shadow: 0px 4px 0px 1px #001F4B;
  box-shadow: 0px 4px 0px 1px #001F4B;
}
.lt-btnArea__link {
  color: #001F4B;
  font-weight: 700;
}

/*===================================
 * slider
===================================*/
@media screen and (min-width: 1024px) {
  .slick-slider {
    margin-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .slick-slider {
    width: 90%;
  }
}

.slick-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mv_slideHeght {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .mv_slideHeght {
    height: 400px !important;
  }
}

@media screen and (min-width: 1024px) {
  .slick-slide {
    margin: 20px;
  }
}

.slick-slide img {
  width: 100%;
  border-radius: 10px;
}

.slick-dots {
  display: none !important;
}

/*===================================
 * eventArea
===================================*/
.lt-eventArea {
  background-image: url("../images/common/event-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.lt-eventArea__link {
  width: 390px;
  display: inline-block;
}
.lt-eventArea__img {
  width: auto;
  height: 217px;
  overflow: hidden;
}
.lt-eventArea__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.lt-eventArea__text {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 50px;
  font-size: 22px;
  border-top: 6px solid #002352;
  position: relative;
  background-color: #fff;
}
.lt-eventArea__title {
  margin: 0;
  font-weight: 500;
  color: #000;
}
.lt-eventArea__info {
  margin-top: 10px;
  color: #666;
}
.lt-eventArea__textBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  width: 64px;
  height: 64px;
  background-image: url("../images/common/lt-arrowBox.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lt-eventArea__btn {
  text-align: center;
  background-color: #EA3B18;
  width: 450px;
  border-radius: 20px 0 20px 0;
  padding: 28px 20px;
  -webkit-box-shadow: 0px 6px 0px 2px #8C230E;
  box-shadow: 0px 6px 0px 2px #8C230E;
  margin: 0 auto;
}
.lt-eventArea__btn .lt-btn span {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */
